<!DOCTYPE html>
<html>
<head>
  <title>Website Header</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    @media (max-width: 767px) {
      .navbar .navbar-nav .nav-item {
        display: block;
      }
      .navbar .navbar-nav {
        flex-direction: column;
      }
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navbar brand/logo -->
    <!-- <a class="navbar-brand" href="/">Logo</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Navbar links -->
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'home' ? ' active' : '' %>" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'about' ? ' active' : '' %>" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'contact' ? ' active' : '' %>" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'createUser' ? ' active' : '' %>" href="/createUser">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'login' ? ' active' : '' %>" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'logout' ? ' active' : '' %>" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= currentPage === 'members' ? ' active' : '' %>" href="/members">Members</a>
        </li>
         <li class="nav-item">
          <a class="nav-link<%= currentPage === 'admin' ? ' active' : '' %>" href="/admin">Admin</a>
        </li>
      </ul>
    </div>

  </nav>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
