
  
<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <style type="text/css">

  </style>
</head>
<body>
           <%- include('partials/header.ejs'); %>
                             <%- include('partials/navbar.ejs'); %>
  <br />

  <h3><%= pageTitle %></h3>
  <form action="/submitUser" method="post">
    <input name="<%= inputName1 %>" type="<%= inputType1 %>" placeholder="<%= inputPlaceholder1 %>">
    <input name="<%= inputName2 %>" type="<%= inputType2 %>" placeholder="<%= inputPlaceholder2 %>">
    <input name="<%= inputName3 %>" type="<%= inputType3 %>" placeholder="<%= inputPlaceholder3 %>">
    <button class="btn btn-info"><%= buttonText %></button>
  </form>
       <%- include('partials/footer.ejs'); %>

</body>
</html>

